<p>How do you get data from HNews?</p>
<p>https://github.com/HackerNews/API</p>
<p></p>
<p>What value do you provide? What differentiates you from HNews?</p>
<p>The purpose of this project is, in order of importance,</p>
<p>* to serve as an exploratory playground for the developer</p>
<p>* to serve as a showcase for the skills of the developer</p>
<p>* to be useful as a tool for the developer</p>
<p>* to gain experience providing a service for others</p>
<p></p>
<p>Is this a professional task or hobby project?</p>
<p>hobby project</p>
<p></p>
<p>What if I have more questions?</p>
<p>Submit feedback via the "feedback" page</p>


<p>I will never put ads or malicious content on this site.</p>
<p>If you find either, I didn't put it here.</p>





